<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h2><div class="panel-heading" style="">Contacts
          <div class="pull-right">
            <a class="btn btn-success"
            [routerLink]="['new']">New Contact</a>
          </div>
        </div></h2>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">

          <h2>
            <cms-contact-item
              *ngFor="let contactEl of contacts"
            [contact]="contactEl">
            </cms-contact-item>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
