<div class="list-group-item clearfix">
<div class="panel-heading">
  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1></h1>
    </div>
  </div>
  <div class="row pull-right">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>


<!--<div class="btn-group">-->
<!--<button type="button" class="btn btn-primary">-->
      <!--Edit-->
        <!--<span class="caret"></span>-->
      <!--</button>-->
      <!--<button type="button" class="btn btn-primary">-->
        <!--Delete-->
        <!--&lt;!&ndash;<span class="caret"></span>&ndash;&gt;-->
      <!--</button>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">Delete</a> </li>-->
      <!--</ul>-->
    <!--</div>-->
<div class="row">
  <div class="col-xs-12">
    Email:
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Phone:
  </div>
</div>
</div>
